.main {
  background-color: #9c835f;
}

#title {
  color: #f9b23d;
  font-family: "Open Sans";
  font-size: 36px;
  position: relative;
  font-weight: 700;
}

.vs {
  color: red;
}

.playerwin {
  background-color: darkred;
}

.playerdraw {
  background-color: yellow;
}

.playerlose {
  background-color: black;
}

#p-rock:hover {
  background-color: darkslategray;
}

#p-paper:hover {
  background-color: darkslategray;
}

#p-scissor:hover {
  background-color: darkslategray;
}
